<!-- Header -->
<header class="bg-primary text-center py-5 mb-4">
  <div class="container">
    <h1 class="font-weight-light text-white">Les collègues de l'espace</h1>
  </div>
  </header>
   <nav>
    <div class="row">
      <div class="col-4 offset-sm-3 offset-md-3 offset-lg-3 col-sm-2 col-md-2 col-lg-2"><a routerLink="/accueil">Accueil</a></div>
      <div class="col-4 col-sm-2 col-md-2 col-lg-2"><a routerLink="/gallerie">Gallerie</a></div>
      <div class="col-4 col-sm-2 col-md-2 col-lg-2"><a routerLink="/apropos">À propos</a></div>
    </div>
   </nav>

<!-- <app-collegue [col]="collegueExemple"></app-collegue> -->


<router-outlet></router-outlet>
<br>
<app-recherche-par-nom ></app-recherche-par-nom>
<br>
<footer class = "text-center">Soyez indulgent ... :)</footer>






