
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Team Member 1 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src= {{col.photoUrl}} class="card-img-top" alt="...">
          <div class="card-body text-left">
            <h5 class="card-title mb-0">Matricule : {{col.matricule}}</h5>
            <h2 class="card-title mb-0">Nom : <b>{{col.nom | uppercase}}</b></h2>
            <h2 class="card-title mb-0">Prénom : {{col.prenoms}}</h2>
            <h5 class="card-title mb-0">mail : {{col.email}}</h5>
            <h5 class="card-title mb-0">Date de naissance : {{col.dateDeNaissance | date : 'dd/MM/yyyy'}}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row">

      <div class=" offset-3 col-3" *ngIf= "mod == false">
          <a (click)="nouveauCollegue()" href="#">Créer un nouveau collègue</a>
      </div>
      <div class="col-3" >
          <button class="btn btn-primary" (click)="modifier()">Modifier</button>
      </div>

      <div class="col-3" *ngIf="mod ==true">
         <button class="btn btn-primary" (click)="validation()">Valider</button>
    </div>
  </div>
</div>
<div *ngIf="mod == false; else elseBlock"></div>
<ng-template #elseBlock>
  <form>
    <div class="form-group row">
      <label for="mail" class="col-1 col-form-label">Email </label>
      <div class = "offset-1 col-4">
       <input class="form-control" type="email" id="mail">
      </div>
    </div>
    <div class="form-group row">
      <label for="url" class="col-2 col-form-label">Photo URL </label>
      <div class = "col-4">
        <input class = "form-control" type="text" id="url">
      </div>
    </div>
  </form>
