

	<div class = "jumbotron text-center" style="margin-bottom:100">
		<h1>Administration</h1>
	</div>


<div class="container">
  <div class="row">
      <div class = "col-12 col-md-5">
        <img src="{{col.photoUrl}}" alt="photo collègue" class="img-fluid"/>
      </div>
      <div class="col-12 col-md-7">

        <label>Matricule : </label>
        {{col.matricule}}
        <br/>

        <label>Nom : </label>
        {{col.nom | uppercase}}
        <br/>

        <label>Prénom : </label>
        {{col.prenoms}}
        <br/>

        <label>Date de Naissance : </label>
        {{col.dateDeNaissance | date: 'longDate'}}
        <br/>


        <div *ngIf="mod == false; else elseBlock">

          <label>Email : </label>
          {{col.email}}
          <br/>

          <div class="row">
            <div class="col-sm-8">
              <button type="button" class="btn-link form-control" (click)="nouveauCollegue()">
                Créer un nouveau collègue
              </button>
            </div>
            <div class="col-sm-4">
              <button type="button" class="btn-primary form-control" (click)="modifier()">
                Modifier
              </button>
            </div>
          </div>
        </div>
        <ng-template #elseBlock>
          <form>

            <div class="form-group row">
              <label for="mail" class="col-1 col-form-label">Email </label>
              <div class = "offset-1 col-5">
               <input class="form-control" type="email" id="mail">
              </div>
            </div>

            <div class="form-group row">
              <label for="url" class="col-2 col-form-label">Photo URL </label>
              <div class = "col-5">
                <input class = "form-control" type="text" id="url">
              </div>
            </div>

          </form>

           <div class="row">
            <div class="offset-3 col-4">
              <button type="button" class="btn-success form-control" >
                Valider
              </button>
            </div>
          </div>
        </ng-template>

  </div>
</div>
